*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #addbba;
}
.main-div-for-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-for-card-btn-1{
    display: flex;
    gap: 40px;
    padding-top: 25vh;
    flex-direction: row;
}
.div-for-card-btn-11{
    display: flex;
    gap: 40px;
    /* padding-left: 16%; */
    padding-top: 40PX;
    flex-direction: row;
}
.div-for-cards-button{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    height: 90vh;
    justify-content: center;
    /* background-color: rgb(85, 85, 228); */
}
.boton-elegante {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
  }
  
  .boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
  }
  
  .boton-elegante:hover::after {
    transform: scale(4);
  }
  
  .boton-elegante:hover {
    border-color: #666666;
    background: #292929;
  }
  .cricket-area-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 60px;
  }
  .cricket-area-cards-main-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 99.99%;
    height: 70vh;
    background-color: red;
  }
  .card-1-for-cricket-cards{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: aqua;
    width: 20vw;
    height: 60vh;
    background-image: url("https://st2.depositphotos.com/1454700/6393/i/450/depositphotos_63932211-stock-photo-cricket-stadium-and-wickets.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
}